@import 'base/fonts';

* {
	font-family: 'Gilroy', sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
	background: #1b1b1b;
}
.container {
	width: 86.666%;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
.br {
	display: none;
}

@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/consult';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/counters';
@import 'blocks/services';
@import 'blocks/advantages';
@import 'blocks/about';
@import 'blocks/contacts';
@import 'blocks/footer';
@import 'media/general';
