.about {
    position: relative;
    margin-top: 5.729vw;
    min-height: 37.135vw;
    background: linear-gradient(91deg, #1b1b1b 0%, rgba(27, 27, 27, 0) 100%);
    &_bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -100;
        width: 100%;
        height: 100%;
    }
    &_text {
        display: flex;
        flex-direction: column;
        gap: 1.041vw;
        padding-top: 8.541vw;
        padding-bottom: 2.5vw;
        width: 50vw;
        .title {
            text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }
    }
    &_logo {
        position: absolute;
        right: 0;
        bottom: 2.5vw;
        width: 23.02vw;
    }
    .container {
        position: relative;
    }
    .title_48 {
        position: absolute;
        top: 2.5vw;
        padding: 0.52vw 0 0.52vw 6.666%;
        width: calc(18.333vw - 6.666%);
        background: #1b1b1b;
    }
}
