.button {
    display: flex;
	justify-content: center;
	align-items: center;
    padding: 0.989vw;
    border: none;
    background-color: #fec269;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
	text-align: center;
	font-weight: 600;
    font-size: 1.25vw;
    color: #000;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 20px 4px rgba(#fec269, 0.5);
        background-color: rgba(#fec269, 0.8);
    }
}

@media (max-width: 992px) {
    .button {
        padding: 3.333vw;
        font-size: 4.444vw;
    }
}
