.header {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    background: #1b1b1b;
    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.145vw 0 0.625vw;
        border-bottom: 4px solid #5a5a5a;
    }
    &_logo {
        img {
            width: 21.822vw;
            height: 4.322vw;
        }
    }
    &_call {
        display: flex;
        gap: 3.333vw;
        a {
            display: flex;
            align-items: center;
            gap: 1.51vw;
            img {
                padding: 0.416vw;
                width: 1.927vw;
                height: 1.927vw;
                border: 1px solid #fec269;
                border-radius: 0.26vw;
                &:hover {
                    filter: saturate(180%);
                }
            }
            .title {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .button {
            width: 19.166vw;
        }
    }
}
.burger {
    display: none;
    &_button {
        display: none;
    }
}
