.title {
	font-weight: 400;
	font-size: 1.25vw;
	color: #fff;
	&_14 {
		font-size: 0.729vw;
	}
	&_20 {
		font-size: 1.041vw;
	}
	&_22 {
		font-size: 1.145vw;
	}
	&_32 {
		font-size: 1.666vw;
	}
	&_40 {
		font-size: 2.083vw;
	}
	&_48 {
		font-size: 2.5vw;
	}
	&_64 {
		font-size: 3.333vw;
	}
	&_90 {
		font-size: 4.687vw;
	}
}

.light {
	font-weight: 300;
}
.regular {
	font-weight: 400;
}
.medium {
	font-weight: 500;
}
.semi-bold {
	font-weight: 600;
}
.upper {
	text-transform: uppercase;
}
.under {
	text-decoration: underline;
}

.gold {
	color: #fec269;
}

.inter {
	font-family: "Inter", sans-serif;
}
